

.form-group,.form-group .input-group{
    display: flex;
    flex-direction: column-reverse;

    height: fit-content;
    width: 90%;
}

.form-check{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-check-input{
    margin-top: 0;
}

input:required + label::after{
    content:" *";
    color:red;
  }