*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


/*Para invocar colores ejm: background-color: var(--primario)*/

:root {
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #002B4C;
    --secundario: #00467B;
    --gris-c: #757575;
    --gris-o: #444444;
}


/* GENERALES */

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /** Reset para REMS - 62.5% = 10px de 16px **/
}

body {
    font-family: 'Kiwi Maru';
    font-size: 1.6rem;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2.6rem;
}

h4 {
    font-size: 2.4rem;
}


/*MAIN-PAGE*/

.main-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: gray;
}


/*Header*/

.header {
    height: 8vh;
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Timeline*/

.timeline {
    min-height: 84vh;
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
}

.time-interval {
    background-color: mediumpurple;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25rem;
    height: 44rem;
    min-width: 25rem;
    min-height: 44rem;
    margin-left: 4rem;
}

.time-interval:last-of-type {
    margin-right: 4rem;
}

.time-interval img {
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
    height: 36rem;
    filter: brightness(0.7);
}

.time-interval img:hover {
    filter: brightness(1);
    cursor: pointer;
    transform: scale(1.025);
    transition-duration: 0.5s;
}

.time-interval .vertical-line {
    width: 0.3rem;
    background-color: white;
    filter: opacity(0.5);
    height: 4rem;
}

.time-interval span {
    color: white;
    filter: opacity(0.5);
    font-size: 2rem;
}


/*Footer*/

.footer {
    background-color: khaki;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
}