:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #002b4c;
  --secundario: #00467b;
  --gris-c: #757575;
  --gris-o: #3a3a3a;
}

.login-page .main-footer {
  display: none;
}

.form-publico .main-footer {
  margin-left: 0 !important;
}

.grafica {
  margin-bottom: 8rem;
}

@media (min-width: 768px) {
  .graficas {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 2rem;
  }
}

@media (min-width: 768px) {
  .cuatro-columnas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
  }
}

/* Para la previsualización en el modal */

@media (min-width: 768px) {
  .image-preview {
    display: grid;
    width: 100%;
    grid-template-columns: 60% 40%;
  }
}

#image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#image-container #image {
  display: none;
  max-height: 60vh;
}

#result {
  display: none;
}

@media (min-width: 768px) {
  #result {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

#result #image-result {
  max-width: 80%;
  overflow: hidden;
}

.modal-lg {
  max-width: 1000px !important;
}

/* Para la vista previa de la imagen en el formulario */

#cropped-image-container {
  margin: 2% 0;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

#cropped-image {
  width: 100%;
}

@media (min-width: 768px) {
  #cropped-image {
    width: 15rem;
  }
}

/* Para la vista previa de la imagen nueva en el formulario de edicion */

#actual-image-container {
  margin: 2% 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

#actual-image {
  width: 100%;
}

@media (min-width: 768px) {
  #actual-image {
    width: 15rem;
  }
}

.image-containers {
  display: block;
}

@media (min-width: 768px) {
  .image-containers {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

/* Para el simbolo de campo obligatorio en el formulario */
.form-group,
.form-group .input-group {
  display: flex;
  flex-direction: column-reverse;

  height: fit-content;
  width: 84%;
}

.form-check {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-check-input {
  margin-top: 0;
}

input:required + label::after,
textarea:required + label::after {
  content: " *";
  color: red;
}

.btn-previsualizar-hover {
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;

  bottom: 0;
  right: 0;

  height: 6rem;
  width: 6rem;
  border-radius: 50%;

  margin-bottom: 2%;
  margin-right: 3%;
}

.btn-previsualizar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;

  border-radius: 50%;

  transition: all 1s;
}

.btn-previsualizar lord-icon {
  width: auto;
  height: 5rem;
  transition: all 1s;
}

.btn-previsualizar .texto {
  display: none;
}

.btn-previsualizar .texto h1 {
  font-size: 1.1rem;
  transition: all 1s;
}

.btn-previsualizar-hover:hover > .btn-previsualizar {
  height: 3rem;
  width: 7rem;

  border-radius: 1rem;
}

.btn-previsualizar-hover:hover > .btn-previsualizar lord-icon {
  display: none;
}

.btn-previsualizar-hover:hover > .btn-previsualizar .texto {
  display: block;
}

.empty-panel {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  animation: empty-panel-animation-close 500ms ease forwards;
  display: none;
}

.empty-panel.open {
  animation: empty-panel-animation-open 500ms ease forwards;
  background-color: rgba(24, 23, 23, 0.8);
}

/* Difuminar fondo */

@keyframes empty-panel-animation-open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes empty-panel-animation-close {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  95% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}