:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #002b4c;
  --secundario: #00467b;
  --gris-c: #757575;
  --gris-o: #3a3a3a;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /** Reset para REMS - 62.5% = 10px de 16px **/
}

.login-page .main-footer {
  display: none;
}

.form-publico .main-footer {
  margin-left: 0 !important;
}

.grafica {
  margin-bottom: 8rem;
}

@media (min-width: 768px) {
  .graficas {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 2rem;
  }
}

@media (min-width: 768px) {
  .cuatro-columnas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
  }
}

@media (min-width: 768px) {
  .image-preview {
    display: grid;
    width: 100%;
    grid-template-columns: 60% 40%;
  }
}

#image-container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cropped-image-container {
  margin-top: 2%;
  display: none;
  align-items: center;
  justify-content: space-around;
}

#cropped-image-container > div > label {
  display: flex;
  align-items: center;
  justify-content: center;
}

#image-container #image {
  display: none;
  /* max-width: 100%; */
  max-height: 60vh;
}

#result {
  /* display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh; */
  display: none;
}

@media (min-width: 768px) {
  #result {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

#result #image-result {
  max-width: 80%;
  overflow: hidden;
}

.modal-lg {
  max-width: 1000px !important;
}

/* Para el simbolo de campo obligatorio en el formulario */
.form-group,
.form-group .input-group {
  display: flex;
  flex-direction: column-reverse;

  height: fit-content;
  width: 84%;
}

.form-check {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-check-input {
  margin-top: 0;
}

input:required + label::after,
textarea:required + label::after {
  content: " *";
  color: red;
}

.btn-previsualizar-hover {
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;

  bottom: 0;
  right: 0;

  height: 6rem;
  width: 6rem;
  border-radius: 50%;

  margin-bottom: 2%;
  margin-right: 3%;
}

.btn-previsualizar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;

  border-radius: 50%;

  transition: all 1s;
}

.btn-previsualizar lord-icon {
  width: auto;
  height: 5rem;
  transition: all 1s;
}

.btn-previsualizar .texto {
  display: none;
}

.btn-previsualizar .texto h1 {
  font-size: 1.1rem;
  transition: all 1s;
}

.btn-previsualizar-hover:hover > .btn-previsualizar {
  height: 3rem;
  width: 7rem;

  border-radius: 1rem;
}

.btn-previsualizar-hover:hover > .btn-previsualizar lord-icon {
  display: none;
}

.btn-previsualizar-hover:hover > .btn-previsualizar .texto {
  display: block;
}

/* Card preview */

.flip-container {
  width: 40rem;
  height: 52rem;
  transition: transform 1000ms;
  transform-style: preserve-3d;
}

@media (max-width: 768px) {
  .flip-container {
    width: 35rem;
  }
}

.card-view-layout {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  animation: card-closing 500ms ease-in forwards;
  justify-content: center;
  align-items: center;
  display: none;
}

.loading-face-flex {
  position: relative;
  z-index: 999;
  background-color: var(--blanco);
  border-radius: 2rem;
  /*transition-duration: 1s;*/
}

.card-view-layout.open {
  animation: card-opening 1ms ease-in forwards;
}

.card-view {
  display: none;
  z-index: 35;
  animation: card-closing 500ms ease-in forwards;
}

.card-view.open {
  animation: card-opening 500ms ease-in forwards;
}

@keyframes card-opening {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes card-closing {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.flip-container.is-flipped {
  transform: rotateY(180deg);
}

.flip-container a {
  text-decoration: none;
  color: var(--blanco);
}

.card-face {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.back-face-flex {
  border-radius: 2rem;
  transform: rotateY(180deg);
}

.front-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  height: 100%;
  width: 80%;
  border-radius: 2rem 0 0 2rem;
  background-color: var(--blanco);
}

.front-content h4,
ul {
  color: var(--gris-o);
  margin-left: 5rem;
}

.front-content h4 {
  font-size: 2.2rem;
  margin-top: 0.5rem;
}

.front-content ul {
  margin-top: 0.5rem;
  margin-right: 1rem;
  line-height: 2rem;
}

.front-bg-blue {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0 1rem 0;
  height: 55%;
  width: 100%;
  background-color: var(--secundario);
  border-radius: 3.9rem 0% 100% 100% / 3.9rem 0% 10% 10%;
}

.front-bg-blue .front-img {
  height: 19rem;
  width: 19rem;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
}

.front-bg-blue h1 {
  font-size: 2rem;
  color: var(--blanco);
}

.big-content-line {
  background-color: var(--blanco);
  height: 0.1rem;
  width: 60%;
}

.front-bg-blue p {
  font-size: 1.5rem;
  color: var(--blanco);
}

.front-insignias {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 20%;
  border-radius: 0 2rem 2rem 0;
  background-color: var(--primario);
  color: var(--blanco);
}

.front-insignias * {
  margin-bottom: 1rem;
}

#close-card {
  margin-top: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.medalla {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.medalla img {
  cursor: pointer;
  width: 65%;
  height: auto;
  transition: all 1500ms;
}

.medalla img:hover {
  transform: rotate(1turn);
}

.flip-icon {
  margin-bottom: 1rem;
  cursor: pointer;
}

.flip-icon-right:hover {
  animation: move-right 800ms forwards;
}

.flip-icon-left:hover {
  animation: move-left 800ms forwards;
}

@keyframes move-left {
  50% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes move-right {
  50% {
    transform: translateX(60%);
  }
  100% {
    transform: translateX(0%);
  }
}

.back-blue-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 20%;
  border-radius: 2rem 0 0 2rem;
  background-color: var(--primario);
  padding-top: 5%;
}

.back-blue-side i {
  color: var(--blanco);
}

.back-blue-banner {
  text-align: center;
  padding: 2rem 0 1rem 0;
  height: 20%;
  width: 100%;
  background-color: var(--secundario);
  border-radius: 0% 3.9rem 100% 100% / 0% 3.9rem 25% 25%;
}

.back-blue-banner h1 {
  color: var(--blanco);
}

.back-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 80%;
  border-radius: 0 2rem 2rem 0;
  background-color: var(--blanco);
}

.back-content-items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  vertical-align: middle;
  padding-top: 5%;
  padding-bottom: 5%;
  height: 100%;
  width: 80%;
}

.back-content img {
  height: 10rem;
}

.empty-panel {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  animation: empty-panel-animation-close 500ms ease forwards;
  display: none;
}

.empty-panel.open {
  animation: empty-panel-animation-open 500ms ease forwards;
  background-color: rgba(24, 23, 23, 0.8);
}

/* Difuminar fondo */

@keyframes empty-panel-animation-open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes empty-panel-animation-close {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  95% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}